<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VirtualTourist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8242E36C1E1D40CE00F5FE99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8242E3831E1D40CE00F5FE99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8242E38E1E1D40CF00F5FE99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
